
/*************************************************************************************************************
1400 - 660 h1
*************************************************************************************************************/
@media (max-width: 1400px) {
	
	.arrow-wide-left {
		margin-left:120px!important;
	}
	
	.arrow-wide-right {
		margin-right:120px!important;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:780px!important;
	}
	
	.arrow-head-left {
		margin-left:60px!important;
	}
	
	.arrow-head-right {
		margin-right:60px!important;
	}
	
	.arrow-head-left,.arrow-head-right {
		padding-top:740px!important;
	}
	
	.arrow-tall-left {
		margin-left:20px!important;
	}
	
	.arrow-tall-right {
		margin-right:20px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:800px!important;
	}
	
	.p-carousel {
		height: 800px;
	}
	
	.p-carousel-bodyhair {
		height: 720px;
	}
}

@media (max-width: 1280px) {
	
	
	
	.arrow-head-left,.arrow-head-right {
		padding-top:680px!important;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:740px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:720px!important;
	}

	.p-carousel {
		height: 700px;
		padding-left: 30px;
	}
	
	.p-carousel-bodyhair {
		height: 660px;
		padding-left: 30px;
	}
	
	
	h1 {
   	 	letter-spacing: -2px;
    	font-size: 110px;
    	line-height: 104px;
	}
	h1 span {
		letter-spacing: -2px;
		font-size: 104px; 
		line-height: 104px;
	}
}


@media (max-width: 1180px) {
	
	.arrow-head-left,.arrow-head-right {
		padding-top:600px!important;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:640px!important;
	}
	.arrow-tall-left,.arrow-tall-right {
		padding-top:640px!important;
	}

	.p-carousel {
		height: 650px;
	}
	
	.p-carousel-bodyhair {
		height: 575px;
	}


}

@media (max-width: 1100px) {
	
	
	.arrow-head-left,.arrow-head-right {
		padding-top:560px!important;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:580px!important;
		width:180px;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:570px!important;
		width:180px;

	}

	.p-carousel {
		height: 580px;
		padding-left: 10px;
		width: 240px;
	}
	
	.p-carousel-bodyhair {
		height: 530px;
		padding-left: 10px;
		width: 240px;
	}
}




@media (max-width: 1024px) {
	
	.center-trio{
		margin: 0px 70px;
	}
	
	.arrow-head-left,.arrow-head-right {
		padding-top:490px!important;
	}
	
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:520px!important;
		width:150px;
	}
	
	.arrow-wide-left {
		margin-left:110px!important;
	}
	
	.arrow-wide-right {
		margin-right:110px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:700px!important;
		width:150px;
	}
	
	.p-carousel {
		height: 120px;
		padding-left: 120px;
		width: 80%;
	}
	
	.p-carousel-bodyhair {
		height: 50px;
		padding-left: 120px;
		width: 80%;
	}
	
	.carousel-img  {
		margin: 0 140px 0 140px;
	}
	
	.carousel-img-wide  {
		margin: 0px 0px 0px 0px;
	}
	
	
	h1 {
   		 font-size: 100px;
   	  	line-height: 94px;
	}

	h1 span {
		font-size: 94px; 
		line-height: 94px;
	}

	h1.contact-email {
		font-size: 94px; 
		line-height: 94px;
	}

	h2 {
		letter-spacing: -0.6px;
  		font-size: 36px; 
  	  	line-height: 40px;
	}
	
	h2 a, .h2-white a {
		letter-spacing: -0.6px;
  		font-size: 36px; 
  	  	line-height: 40px;
	}
	
	h2 span { 
		font-size: 34px; 
		line-height: 34px;
	}

	.four-up-left {
		margin-right:15px;
		margin-bottom:30px;
	}

	.four-up-center-left {
		margin-left:15px;
		margin-right:0px;
		margin-bottom:30px;
	}

	.four-up-center-right {
		margin-left:0px;
		margin-right:15px;
	}

	.four-up-right {
		margin-left:15px;
	}

}

@media (max-width: 930px) {
	
	.arrow-head-left,.arrow-head-right {
		padding-top:460px!important;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:520px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:600px!important;
	}
	
}

@media (max-width: 860px) {
	
	.arrow-head-left,.arrow-head-right {
		width:40px;
		padding-top:430px!important;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:450px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:520px!important;
	}
	
}

@media (max-width: 818px) {
	li {
	  float: none;
	}

	li.contact-item2 {
		margin-left:0px;
		margin-top:-10px;
	}
	
	.arrow-head-left,.arrow-head-right {
		padding-top:400px!important;
	}
		
	.arrow-wide-left,.arrow-wide-right {
		padding-top:480px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:420px!important;
	}
	
	
	.p-carousel {
		height: 150px;
	}
	
	.p-carousel-bodyhair {
		height: 50px;
	}
}

@media (max-width: 768px) {
	.arrow-head-left {
		margin-left:20px!important;
	}
	
	.arrow-head-right {
		margin-right:20px!important;
	}
	
	.arrow-head-left,.arrow-head-right {
		padding-top:380px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:620px!important;
		width:120px;
	}
	
	.arrow-tall-left {
		margin-left:40px!important;
	}
	
	.arrow-tall-right {
		margin-right:40px!important;
	}
	
	.p-carousel {
		height: 100px;
		padding-left:0px;
		width:100%;
		margin-left:-15px;
	}
	
	.p-carousel-bodyhair {
		height: 80px;
		padding-left:0px;
		width:100%;
		margin-left:-15px;
	}
	
	.arrow-wide-left {
		margin-left:30px!important;
	}
	
	.arrow-wide-right {
		margin-right:30px!important;
	}
}

@media (max-width: 767px) {
	
	.center-trio{
		margin: 0px 0px;
	}
	
	.carousel-img  {
		margin: 0px 0px 0px 0px;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:860px!important;
		margin: 0 20px;
		width:120px;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:460px!important;
		width:120px;
	}
	
	
	h1 {
		letter-spacing: -2px;
		font-size: 92px;
		line-height: 82px;
	}

	h1 span {
		letter-spacing: -2px;
		font-size: 86px; 
		line-height: 82px;
	}

	h2, h2 a {
		letter-spacing: -0.6px;
  		font-size: 30px; 
  	    line-height: 35px;
	}
	
	h2 span {
  		font-size: 26px; 
  	    line-height: 26px;
	}
	

}

@media (max-width: 710px) {
	.arrow-wide-left,.arrow-wide-right {
		padding-top:400px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:800px!important;
	}
	
	.p-carousel {
		height:100px;
	}
	
	.p-carousel-bodyhair {
		height:100px;
	}
}

@media (max-width: 664px) {
	
	.arrow-head-left,.arrow-head-right {
		width:30px;
		padding-top:360px!important;
	}
	
	.p-carousel {
		height:120px;
	}
	
	.p-carousel-bodyhair {
		height:70px;
	}
}


@media (max-width: 660px) {	
	
	.arrow-head-left,.arrow-head-right {
		padding-top:320px!important;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:420px!important;
		width:80px;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:780px!important;
		width:80px;
	}
	
	h1 {
  		font-size: 76px; 
 		line-height: 72px;
	}
	
	h1 span {
  		letter-spacing: -2px;
    	font-size: 72px; 
  		line-height: 72px;
	}

	h1.contact-email {
		letter-spacing: -2px;
    	font-size: 72px; 
  		line-height: 72px;
	}

	h2.half-half-copy {
		margin: 0;
	}

	.project-content-bottom2x {
		padding-top: 70px;
		padding-bottom:70px;
	}
}

@media (max-width: 600px) {	
	
	.arrow-head-left,.arrow-head-right {
		padding-top:300px!important;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:340px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:650px!important;
	}
	
	img.half-half {
		padding-right: 0;
		margin-bottom:40px;
	}

	h2.half-half-copy {
		margin: 50px 0 20px 0!important;
	}

	h3.half-half-copy {
		margin: 30px 0 0 0;
	}
	
	
	
	.three-up-left {
		padding-right:0px;
		margin-bottom:20px;
	
	}

	.three-up-center {
		padding-left:0px;
		padding-right:0px;
		margin-bottom:20px;
	}

	.three-up-right {
		padding-left:0px;
	}
	
	
	.three-up-left-big {
		padding:0;
		margin:0;
		margin-bottom:80px;
	}
	
	.three-up-center-big {
		padding:0;
		margin:0;
		margin-bottom:80px;
	}
	
	.three-up-right-big {
		padding:0;
		margin:0;
	}
	
	
	p {
		line-height:23px;
	}

}


@media (max-width: 508px) {
	.arrow-head-left,.arrow-head-right {
		width:25px;
		padding-top:270px!important;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:320px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:620px!important;
	}
	

	
	h1.contact-email {
	  	letter-spacing: -2px;
	    font-size: 62px; 
	  	line-height: 62px;
	}
}

@media (max-width: 500px) {
	

	.arrow-wide-left,.arrow-wide-right {
		padding-top:300px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:600px!important;
	}
	


/*************************************************************************************************************
h1 - h6
*************************************************************************************************************/
	h1{
		font-size: 58px;
		line-height: 52px;
		letter-spacing: -1.8px;
    	margin-top:0px;
	}

	.contact-footer-row1 h1 {
		line-height: 48px;
	}

	.h1-small {
		font-size: 36px;
		line-height: 38px;
		letter-spacing: -.5px;
		color:#000;
		margin: 0px 0px 0px 0px;
	}

	.h1-small span {
		color:#000;
		font-size: 34px;
		line-height: 38px;
		letter-spacing: -0.5px;
	}

	.h1-small-white {
		font-size: 36px;
		line-height: 38px;
		letter-spacing: -.5px;
		color:#fff;
		margin: 0px 0px 0px 0px;
	}

	.h1-small-white span {
		color: #fff;
		font-size: 34px;
		line-height: 38px;
		letter-spacing: -0.5px;
	}

	h1 span {
   	 	font-size: 52px;
   	 	line-height: 52px;
	    letter-spacing: -1px;
	}

	h2 {
		font-size: 36px;
		line-height: 38px;
		letter-spacing: -.5px;
	}

	h2 a, .h2-white a, .h2-small a {
		font-size: 34px;
		line-height: 38px;
		letter-spacing: -0.5px;	
	}

	h2 span {
		font-size: 34px;
	}

	.h2-small-white { 
		font-size: 36px;
		line-height: 38px;
		letter-spacing: -.5px;
	}

	.h2-small-white span { 
		font-size: 34px;
		line-height: 38px;
	  	letter-spacing: -0.5px;
	}

	h4 {
  	  	font-family: "Favorit", sans-serif; 
  	  	font-weight: 300;
		font-size:14px;	
		line-height:17px;
		letter-spacing: 1px;
 	   	color: #000;
		margin-top: 0;
	}

	p {
  	  	font-size: 18px; 
		margin-bottom:-10px;
		line-height:21px;
	}

/*************************************************************************************************************
NAV
*************************************************************************************************************/
	.logo {
		margin-left:-30px!important;
	}
	
	.logo img {
		width:60px;
	}
	
	.header .logo {
		font-size:14px;
		line-height:14px;
  		margin-top:0px!important;
		letter-spacing:1px;
	}

	.header nav {
		font-size:14px;
		line-height:14px;
	}

	h4.back {
		font-size:14px;
		line-height:14px;
	}

	h4.next {
		font-size:14px;
		line-height:14px;
	}

	.backNext {
		display:none;
	}


/*************************************************************************************************************
INTROS
*************************************************************************************************************/

	.intro-headline {
		margin:50px 0 50px 0;
	}


	.intro-para {
		margin: 0px 0px 50px 0;	
	}

	.intro-para-project {
		margin: 50px 0px 50px 0;
	}

	.links-top-black {
		border-bottom:1px #000 solid;
	}

	.links-top-black p {
		margin-bottom:6px;
	}


	.links-top {
		border-bottom:1px #fff solid;
		padding-bottom:0px;
	}

	.links-top p {
		margin-bottom:6px;
	}

	.links-bottom {
		margin-top:15px;
	}

	.links-bottom h4 {
		font-size:12px;
	}

/*************************************************************************************************************
CONTACT FOOTER
*************************************************************************************************************/

	h1.contact-chat {
		margin-top:10px;
	}

	h1.contact-email {
    	font-size: 52px;
    	line-height: 48px;
    	letter-spacing: -1.5px;
		margin-top:-10px;
	}

	.contact-footer {
		padding:80px 0 100px 0px;
	}

	button {
		letter-spacing:-2px!important;
	}

/*************************************************************************************************************
PROJECT CONTENT CONTAINERS
*************************************************************************************************************/

	.project-0 {
		padding: 0px;
	}
	
	.project-top-10 {
		padding-top: 10px;
	}

	.project-top-40 {
		padding-top: 20px;
	}

	.project-top-70 {
		padding-top: 50px;
	}
	
	.project-top-40-bottom-140 {
			padding-top: 20px;
			padding-bottom: 50px;
	}

	.project-top-90 {
		padding-top: 50px;
	}
	
	.project-top-90-bottom-70 {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.project-top-90-bottom-180 {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.project-top-120 {
		padding-top: 50px;
	}

	.project-top-120-bottom-120 {
		padding-top: 50px;
		padding-bottom:50px;
	}
	
	.project-top-120-bottom-180 {
		padding-top: 50px;
		padding-bottom:50px;
	}

	.project-top-140 {
		padding-top: 50px;
	}
	
	.project-top-140-bottom-90 {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.project-top-140-bottom-140 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.project-top-140-bottom-160 {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.project-top-180 {
		padding-top: 50px;
	}

	.project-top-180-bottom-70 {
		padding-top: 50px;
		padding-bottom:5px;
	}

	.project-top-180-bottom-90 {
		padding-top: 50px;
		padding-bottom:50px;
	}

	.project-top-180-bottom-140 {
		padding-top: 50px;
		padding-bottom:50px;
	}

	.project-top-180-bottom-180 {
		padding-top: 50px;
		padding-bottom:50px;
	}
	
	.project-top-140-bottom-220 {
		padding-top: 50px;
		padding-bottom:50px;
	}

	.project-top-180-bottom70 h2 {
		margin-right: 20px;
	}
	
	.project-top-200-bottom-140 {
		padding-top: 50px;
		padding-bottom:50px;
	}
	
	.project-top-240 {
		padding-top: 50px;
	}

	.project-top-180 h2, .project-top-140 h2,.project-top-120 h2, .project-top180-bottom-70 h2 {
		margin-top: 20px;
		margin-bottom:0px;
	}

	video.project-grid-vid {
  	    width: 100%;
  	    margin-bottom: 2px;
 	    margin-top: 0px;
		border-radius:10px;
	}	

	.project-grid-items {
		margin-left:10px;
	}
	
	.three-up-left-big {
		margin-bottom:40px;
	}
	
	.three-up-center-big {
		margin-bottom:40px;
	}
	

}

@media (max-width: 414px) { 
	
	h4.work {
	  	left: 15px
	}

	h4.info {
	  	right: 15px;
	}
	
	.arrow-head-left,.arrow-head-right {
		width:20px;
		padding-top:220px!important;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:235px!important;
		width:50px;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:490px!important;
		width:50px;
	}

	.p-carousel {
		height: 140px;
		width: 100%;
		padding-left:0px;
	}
	
	.p-carousel-bodyhair {
		height: 75px;
		width: 100%;
		padding-left:0px;
	}
	
	h1.contact-email {
		margin-top:-40px;
		font-size:48px;
		line-height:48px;
		letter-spacing:-1px;
	}
	
	.tooltip {
	    margin-left: -30px;
		width:400px;
		margin-top:-30px;
	}
	
	.contact-footer-3 {
	    padding-bottom: 10px;
	}
}


@media (max-width: 375px) { 
	
	h1 {
		font-size: 52px;
		 line-height: 48px;
	}
	
	h1 span {
	    font-size: 48px;
	    line-height: 48px;
	    letter-spacing: -1px;
	}
	
	.arrow-head-left {
		margin-left:10px!important;
	}
	
	.arrow-head-right {
		margin-right:10px!important;
	}
	
	.arrow-head-left,.arrow-head-right {
		padding-top:200px!important;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:230px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:450px!important;
	}
	
	.more-projects-row {
	    margin-left: -10px;
	    margin-right: -20px;
	}
	
	h1.contact-email {
		margin-top:-50px;
		margin-left:-5px;
		font-size:46px;
	}
	
	.tooltip {
	    margin-left: -40px;
		width:375px;
	}
	
	h1.contact-chat {
	    margin-top: 0px;
	}
}

@media (max-width: 320px) {
	
	.arrow-head-left {
		margin-left:0px!important;
	}
	
	.arrow-head-right {
		margin-right:0px!important;
	}
	
	.arrow-head-left,.arrow-head-right {
		padding-top:150px!important;
	}
	
	.arrow-wide-left,.arrow-wide-right {
		padding-top:180px!important;
	}
	
	.arrow-tall-left,.arrow-tall-right {
		padding-top:380px!important;
	}
	
	.p-carousel {
		height: 190px;
		width: 100%;
		padding-left:-20px;
	}
	
	.p-carousel-bodyhair {
		height: 60px;
		width: 100%;
		padding-left:-20px;
	}
	
	h1.contact-email {
		width:100%;
	}	
} 
	
