.ui-page-active { outline: none; }

.home-mob {
	margin: 0px 20px;
}

/*************************************************************************************************************
ROUNDED EDGES
*************************************************************************************************************/


.art-direction img {
	 border-radius: 14px;
}


@media (max-width: 768px) { 
	.art-direction img {
		 border-radius: 6px;
	}
}


.grey {
	background-color:#e6e7e7;
}




/*************************************************************************************************************
FULL SCREEN IMAGES
*************************************************************************************************************/
.fullBGImage img {
		 border-radius: 0px!important;
}


@media (max-width: 1024px) {
	.bgimg2 {
		min-height:90%!important;
	}
}
