.ui-page-active { outline: none; }



/*************************************************************************************************************
ROUNDED EDGES
*************************************************************************************************************/


.art-direction img {
	 border-radius: 14px;
}


@media (max-width: 768px) { 
	.art-direction img {
		 border-radius: 6px;
	}
}


.grey {
	background-color:#e6e7e7;
}




/*************************************************************************************************************
FULL SCREEN IMAGES
*************************************************************************************************************/
.fullBGImage img {
		 border-radius: 0px!important;
}


@media (max-width: 1200px) {
	.topImage {
			 margin-top: 40px!important;
	}	
}

@media (max-width: 900px) {
	.topImage {
			 margin-top: 80px!important;
	}
}

@media (max-width: 414px) {
	.topImage {
			 margin-top: 55px!important;
			 margin-bottom: -5px!important;
	}
}
