/*************************************************************************************************************
VIDEO HERO
*************************************************************************************************************/

.vid-hero {
    width:100%;
    height:100vh;
    overflow: hidden;
}

.vid-hero video {
      /*object-fit: contain;*/
/*       object-fit: fill; */
      object-fit: cover;
      width:100%;
      height:100%;
}

@media (max-width: 500px) { 
	.vid-hero {
	    width:100%;
	    height:70vh;
	    overflow: hidden;
	}
}

@media (max-width: 375px) { 
	.vid-hero {
	    width:100%;
	    height:55vh;
	    overflow: hidden;
	}
}





.home-mob {
	margin: 0px 20px;
}

/*************************************************************************************************************
ROUNDED EDGES
*************************************************************************************************************/




.all-rounded {
	border-radius: 14px;
}


.top-rounded {
	border-radius: 14px 14px 0px 0px;
}

.bottom-rounded {
	border-radius: 0px 0px 14px 14px;
}

.carousel-img img {
		border-radius: 14px;
}


@media (max-width: 768px) { 
	.art-direction img {
		 border-radius: 6px;
	}
	.all-rounded {
		border-radius: 6px;
	}
	.top-rounded {
		border-radius: 6px 6px 0px 0px;
	}
	.bottom-rounded {
		border-radius: 0px 0px 6px 6px;
	}
	
	.carousel-img img {
			border-radius: 6px;
	}
}




.one-third p {
	margin-top:40px;
}

@media (max-width: 992px) { 
	.one-third {
		padding: 0 120px;
		margin-bottom: 80px;
	}
}

@media (max-width: 760px) { 
	.one-third {
		padding: 0 80px;
		margin-bottom: 80px;
	}
}


@media (max-width: 414px) { 
	.one-third {
		padding: 0px 0px;
		margin-bottom: 80px;
	}
}



img.fifty-fifty-LEFT {
	margin-right:20px;
}

img.fifty-fifty-RIGHT {
	margin-left:20px;
}




/*************************************************************************************************************
VIDEO
*************************************************************************************************************/
.balm {
	margin-bottom:160px;
}




@media (max-width: 414px) { 
	.balm {
		margin-bottom: 70px;
	}
	
}


.balm video {
    width: 100%;
    height: auto;
}

.xray video {
    width: 100%;
    height: auto;
}

.side-vid video {
    width: 100%;
    height: auto;
}


.wide-vid video {
    width: 100%;
    height: auto;
}



.site video {
    width: 100%;
    height: auto;
}





/*************************************************************************************************************
FULL SCREEN IMAGES
*************************************************************************************************************/
.fullBGImage img {
		 border-radius: 0px!important;
}


@media (max-width: 1024px) {
	.bgimg2 {
		min-height:90%!important;
	}
}
