
/*************************************************************************************************************
1400 - 660 h1
*************************************************************************************************************/
@media (max-width: 1400px) {
}


@media (max-width: 1280px) {
}


@media (max-width: 1180px) {
	.header .logo {
	 	height:137px;
	 	width:836px;
	}
}


@media (max-width: 1100px) {
	.header .logo {
		height: 113px;
		width: 690px;
	}
}


@media (max-width: 1024px) {
	.header .logo {
		height: 105px;
		width: 640px;
	}
	
	.container {
	    margin: 0;
	    position: absolute;
	    top: 45%;
	    left: 50%;
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	}
}

@media (max-width: 930px) {
	.header .logo {
		height: 94px;
		width: 570px;
	}
}


@media (max-width: 860px) {
	.header .logo {
		height: 82px;
		width: 500px;
	}
}


@media (max-width: 818px) {
	.header .logo {
		height: 76px;
		width: 460px;
	}
}

@media (max-width: 768px) {
	
	.container {
	    margin: 0;
	    position: absolute;
	    top: 40%;
	    left: 50%;
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);

	}
	
	.form {
		top:75%!important;
	}
	
	.form-inner {
			width:400px;
			height:133px!important;
	}
		
	.klaviyo-form-VrTaTq {
		
	}
	
	.header .logo {
		height: 72px;
		width: 460px;
	}
	
	
	.header nav a p, .header_bottom nav a p {
	  	font-size:10px;	
		line-height:10px;
		transform:scale(1.2,1); 
		-webkit-transform:scale(1.2,1); 
		-moz-transform:scale(1.2,1); 
		-ms-transform:scale(1.2,1); 
		-o-transform:scale(1.2,1); 
		letter-spacing:1.5px;
		-webkit-text-stroke: 1.2px black;	
	}
	
	.dUoLAQ.dUoLAQ.dUoLAQ.dUoLAQ.dUoLAQ.dUoLAQ.dUoLAQ.dUoLAQ .ql-container p, .kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1 .ql-editor span { 
	  	font-size:10px!important;	
		line-height:15px;
		transform:scale(1.2,1); 
		-webkit-transform:scale(1.2,1); 
		-moz-transform:scale(1.2,1); 
		-ms-transform:scale(1.2,1); 
		-o-transform:scale(1.2,1); 
		letter-spacing:1.5px;
		-webkit-text-stroke: 1.2px black;	
	}
	
	.ikHPKM.ikHPKM.ikHPKM.ikHPKM.ikHPKM.ikHPKM, input::placeholder, .fhmQhu.fhmQhu.fhmQhu.fhmQhu.fhmQhu.fhmQhu {
		height:70px!important;
		font-size: 60px !important;
		transform:scale(0.8,1); 
		-webkit-transform:scale(0.8,1); 
		-moz-transform:scale(0.8,1); 
		-ms-transform:scale(0.8,1); 
		-o-transform:scale(0.8,1);
		-webkit-text-stroke: 2px black;	 
		width: 400px;
		line-height: 60px!important;
	}
	
	
	.hEMewN.hEMewN {
		padding:0!important;
	}
	
	.itrmhl.itrmhl {
				padding:10px 0px !important;
	}
	
	.container-about {
		display: none;
	}
	
	.about-copy {
		 top: 50%;
	}
	
	.about-copy p {
		font-size:15.4px;
		line-height:20px;
		text-align:center;
		-webkit-text-stroke: 0.7px black;	
		transform:scale(0.8,1); 
		-webkit-transform:scale(0.8,1); 
		-moz-transform:scale(0.8,1); 
		-ms-transform:scale(0.8,1); 
		-o-transform:scale(0.8,1); 
	}

	.about-copy p.about-sans {
	 	font-size:10px;	
		line-height:13px;
		transform:scale(1.2,1); 
		-webkit-transform:scale(1.2,1); 
		-moz-transform:scale(1.2,1); 
		-ms-transform:scale(1.2,1); 
		-o-transform:scale(1.2,1); 
		letter-spacing:2px;
	    -webkit-text-stroke: 1.2px black;
	    width: 200px;
	    text-align: center;
	    margin: 0 auto;
	}
	
	.close {
		padding-top:20px;
	}
}


@media (max-width: 700px) {

	.header .logo {
		height: 61px;
		width: 370px;
	}
	
}




@media (max-width: 660px) {	
	
	.header .logo {
		height: 49px;
		width: 300px;
	}
	
}


@media (max-width: 600px) {	
	
	
	
	.header .logo {
		height: 41px;
		width: 250px;
	}
	
	

}


@media (max-width: 500px) {
	.header .logo {
		height: 41px;
		width: 250px;
	}

}


@media (max-width: 414px) {
	.header .logo {
		height: 33px;
		width: 200px;
	} 
	.form-inner {
		width:400px;
		height:133px!important;
	}
}


@media (max-width: 375px) { 
	.header .logo {
		height: 28px;
		width: 165px;
	} 
	
	
	.fhmQhu.fhmQhu.fhmQhu.fhmQhu.fhmQhu.fhmQhu,.ikHPKM.ikHPKM.ikHPKM.ikHPKM.ikHPKM.ikHPKM, input::placeholder {
		height:54px!important;
		font-size: 52px !important;
		transform:scale(0.8,1); 
		-webkit-transform:scale(0.8,1); 
		-moz-transform:scale(0.8,1); 
		-ms-transform:scale(0.8,1); 
		-o-transform:scale(0.8,1);
		-webkit-text-stroke: 2.5px black;	 
		width:350px;
		line-height: 54px!important;
	}
	.form-inner {
		width:350px;
		height:48px!important;
	}
}


@media (max-width: 320px) {
	.header .logo {
		width: 113px;
	} 
	
	.fhmQhu.fhmQhu.fhmQhu.fhmQhu.fhmQhu.fhmQhu,.ikHPKM.ikHPKM.ikHPKM.ikHPKM.ikHPKM.ikHPKM, input::placeholder {
		height:52px!important;
		font-size: 44px !important;
		transform:scale(0.8,1); 
		-webkit-transform:scale(0.8,1); 
		-moz-transform:scale(0.8,1); 
		-ms-transform:scale(0.8,1); 
		-o-transform:scale(0.8,1);
		-webkit-text-stroke: 2.5px black;	 
		width:310px;
	}
	.form-inner {
		width:310px;
		height:52px!important;
	}
} 
	
