/*************************************************************************************************************
HEADER FOOTER
*************************************************************************************************************/

.lt {
  	top: 20px;
  	position: fixed;
    width: 100%;
    margin: 0 auto;
  	z-index:98;
	text-transform: uppercase;
  	text-align:center;
	line-height:16px;
}

.navbarWHITE h4 {
	color:#fff!important;
}

.navbarWHITE {
	border-bottom:1px solid #fff;
	padding-bottom:50px;
	position:fixed;
	width:100%;
}

.navbarBLACK {
	border-bottom:1px solid #000;
	padding-bottom:50px;
	position:fixed;
	width:100%;
}

.contact-footer-3 {
    border-top: 1px #000 solid!important;
}


.contact-toenail {
	margin:0 auto;
	width:848px;
}

li {
	text-align:center;
}



h4 {
	font-size:14px!important;
}

/*************************************************************************************************************
MOBILE
*************************************************************************************************************/


@media (max-width: 823px) { 
	.contact-footer-3 {
		     padding-top: 10px;
	}
	
	h6 {
		font-size:10px;
		margin-bottom:10px;
	}
	
	li {
	    float: left!important;
	}
	
	li.contact-item2 {
	    margin-left: 30px;
	    margin-top: 0px;
	}
	
	.lt {
	    font-size:8px!important;
	}
	
	.navbarWHITE {
		border-bottom:0px solid #fff;

	}

	.navbarBLACK {
		border-bottom:0px solid #000;

	}
	
	
	.tap {
		visibility: visible!important;
		
	}
	.contact-toenail {
	
		width:535px;
	}
}


@media (max-width: 818px) { 
	.contact-footer-3 {
		     padding-top: 10px;
	}
	
	h6 {
				font-size:10px;
		margin-bottom:10px;
	}
	
	li {
	    float: left!important;
	}
	li.contact-item2 {
	    margin-left: 30px;
	    margin-top: 0px;
	}
}

@media (max-width: 500px) { 
	
  
    .website-folio {
    	visibility:hidden!important;	
    }
	
	.rotate {
		visibility: visible!important;
	}
	.rotateWHITE {
		visibility: visible!important;
	}
	.bg {
		visibility:hidden!important;	
	}
	
	.vid-hero {
		visibility:hidden!important;	
	}
	.tap {
		visibility: hidden!important;
	}
	
	.navbarWHITE {
		visibility: hidden!important;
	}

	.navbarBLACK {
		visibility: hidden!important;
	}
	
}


.rotate {
	font-size:16px;
	position:fixed;
	top:50%;
	z-index:100;
	text-align:center;
	width:100%;
	background:#000;
	color:#fff;
	padding-bottom:8px;
	padding-top:3px;
	visibility: hidden;
}

.rotateWHITE {
	font-size:16px;
	position:fixed;
	top:50%;
	z-index:100;
	text-align:center;
	width:100%;
	background:#fff;
	color:#000;
	padding-bottom:8px;
	padding-top:3px;
	visibility: hidden;
}

.tap {
	bottom:-20px;
	font-size:10px;
	position:fixed;
	z-index:100;
	text-align:center;
	width:100%;
	background:#fff;
	color:#000;
	padding-bottom:8px;
	padding-top:3px;
	visibility: hidden;

}



/*************************************************************************************************************
BLOCK
*************************************************************************************************************/
.wide-vid video {
    width: 100%;
    height: auto;
	margin-top:-10px;
}

.scroll {
	bottom:-20px;
	position:fixed;
	z-index:100;
	text-align:center;
	width:100%;
	background-color: #fff;
	padding-bottom:10px;
	padding-top:10px;
}


.website-folio video {
    width: 100%;
    height: auto;
	
}


.website-folio {
	margin-bottom:160px;
}


.all-rounded {
	border-radius: 14px;
}


.top-rounded {
	border-radius: 14px 14px 0px 0px;
}

.bottom-rounded {
	border-radius: 0px 0px 14px 14px;
}


.tt-home-1 {
    height: 800px;
    width: 100%;
    border: 1px #000 solid;
}



/*************************************************************************************************************
VIDEO HERO
*************************************************************************************************************/

.vid-hero {
    width:100%;
    height:100vh;
    overflow: hidden;
}

.vid-hero video {
      /*object-fit: contain;*/
/*       object-fit: fill; */
      object-fit: cover;
      width:100%;
      height:100%;
}

@media (max-width: 500px) { 
	.vid-hero {
	    width:100%;
	    overflow: hidden;
	}
}

@media (max-width: 375px) { 
	.vid-hero {
	    width:100%;
	    height:55vh;
	    overflow: hidden;
	}
}



/*************************************************************************************************************
LINKS SIDE BY SIDE
*************************************************************************************************************/

.split {
  height: 90%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;

}

.left {
  left:0;
  background:transparent;
}

.right {
  right: 0;
  background:transparent;
}



.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


a.link-left-white {
	cursor: url('../../img/arrow_small_left_white.png'), auto;
	cursor: -webkit-image-set(
	  url('../../img/arrow_small_left_white.png') 1x,
	  url('../../img/arrow_256_left_white.png') 2x
	), auto;	
}

a.link-right-white {
	cursor: url('../../img/arrow_small_right_white.png'), auto;
	cursor: -webkit-image-set(
	  url('../../img/arrow_small_right_white.png') 1x,
	  url('../../img/arrow_256_right_white.png') 2x
	), auto;	
}

a.link-left-black {
	cursor: url('../../img/arrow_small_left_black.png'), auto;
	cursor: -webkit-image-set(
	  url('../../img/arrow_small_left_black.png') 1x,
	  url('../../img/arrow_256_left_black.png') 2x
	), auto;	
}

a.link-right-black {
	cursor: url('../../img/arrow_small_right_black.png'), auto;
	cursor: -webkit-image-set(
	  url('../../img/arrow_small_right_black.png') 1x,
	  url('../../img/arrow_256_right_black.png') 2x
	), auto;	
}



a.link-left-green {
	cursor: url('../../img/arrow_small_left_green.png'), auto;
	cursor: -webkit-image-set(
	  url('../../img/arrow_small_left_green.png') 1x,
	  url('../../img/arrow_256_left_green.png') 2x
	), auto;	
}

a.link-right-green {
	cursor: url('../../img/arrow_small_right_green.png'), auto;
	cursor: -webkit-image-set(
	  url('../../img/arrow_small_right_green.png') 1x,
	  url('../../img/arrow_256_right_green.png') 2x
	), auto;	
}




/*************************************************************************************************************
SIDENAV
*************************************************************************************************************/

.openbtn{
	width:40px;
	height:40px;
	z-index:99;
	position:fixed;
}

.hamcontainer {
	top:20px;
	left:20px;
		position:fixed;

}


.eyesNAV img {
    width: 30px;
    height: 30px;
}



.ham {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 2px 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.4s;
}

.sidenav a {
  text-decoration: none;
  font-size: 60px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.toc {
	margin-top:200px;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 26px;
  z-index:100;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}
