/*************************************************************************************************************
WEBSITE EMBED
*************************************************************************************************************/
.oc-home-1 {
	height:800px;
	width:100%;
	border:1px #000 solid;
}
@media (max-width: 500px) {

	.oc-home-1 {
		height:680px;
		width:100%;
		border:1px #000 solid;
	}
}

/*************************************************************************************************************
VIDEO HERO
*************************************************************************************************************/

.vid-hero {
    width:100%;
    height:100vh;
    overflow: hidden;
}

.vid-hero video {
      /*object-fit: contain;*/
/*       object-fit: fill; */
      object-fit: cover;
      width:100%;
      height:100%;
}

@media (max-width: 1280px) {
	.vid-hero {
	    width:100%;
	    height:90vh;
	    overflow: hidden;
	}
	
	
}



@media (max-width: 1000px) { 
	.vid-hero {
	    width:100%;
	    height:66vh;
	    overflow: hidden;
	}
	

}

@media (max-width: 768px) {
	.vid-hero {
	    width:100%;
	    height:50vh;
	    overflow: hidden;
	}

}

@media (max-width: 500px) { 
	.vid-hero {
	    width:100%;
	    height:40vh;
	    overflow: hidden;
	}
}

@media (max-width: 375px) { 
	.vid-hero {
	    width:100%;
	    height:34vh;
	    overflow: hidden;
	}
}


.home-mob {
	margin: 0px 20px;
}

/*************************************************************************************************************
ROUNDED EDGES
*************************************************************************************************************/




.all-rounded {
	border-radius: 14px;
}


.top-rounded {
	border-radius: 14px 14px 0px 0px;
}

.bottom-rounded {
	border-radius: 0px 0px 14px 14px;
}

.carousel-img img {
		border-radius: 14px;
}


@media (max-width: 768px) { 
	.art-direction img {
		 border-radius: 6px;
	}
	.all-rounded {
		border-radius: 6px;
	}
	.top-rounded {
		border-radius: 6px 6px 0px 0px;
	}
	.bottom-rounded {
		border-radius: 0px 0px 6px 6px;
	}
	
	.carousel-img img {
			border-radius: 6px;
	}
}




.one-third p {
	margin-top:40px;
}

@media (max-width: 992px) { 
	.one-third {
		padding: 0 120px;
		margin-bottom: 80px;
	}
}

@media (max-width: 760px) { 
	.one-third {
		padding: 0 80px;
		margin-bottom: 80px;
	}
}


@media (max-width: 414px) { 
	.one-third {
		padding: 0px 0px;
		margin-bottom: 80px;
	}
}



.fifty-fifty-LEFT {
	padding-right:40px;
	padding-left:0px;
	margin-right:0px;
}

.fifty-fifty-RIGHT {
	padding-left:40px;
	padding-right:0px;
	margin-left:0px;
}

@media (max-width: 600px) { 
.fifty-fifty-LEFT {
	padding-right:0px;
	padding-left:0px;
	margin-bottom:70px;
}

.fifty-fifty-RIGHT {
	padding-left:0px;
	padding-right:0px;
}
}

.three-up-left-row1 {
    padding-right: 20px;
}

.three-up-center-row1  {
    padding-left: 10px;
    padding-right: 10px;
}


.three-up-right-row1  {
    padding-left: 20px;
}

.three-up-left-row2 {
	margin-top:30px;    
	padding-right: 20px;
}

.three-up-center-row2  {
	margin-top:30px;
    padding-left: 10px;
    padding-right: 10px;
}


.three-up-right-row2  {
	margin-top:30px;
    padding-left: 20px;
}


@media (max-width: 600px) { 
	.three-up-left-row1 {
	    padding-right: 10px;
	    margin-left: 10px;
	}

	.three-up-center-row1  {
		padding-left: 10px;
		    padding-right: 0px;
		    margin-right: 10px;
	}


	.three-up-right-row1  {
			margin-top: 30px;
		    padding-left: 0px;
		    padding-right: 10px;
		    margin-left: 10px;
	
	}

	.three-up-left-row2 {
		margin-top: 30px;
		    padding-right: 10px;
		    margin-left: 10px;
	}

	.three-up-center-row2  {
		margin-top:30px;
	    padding-left: 10px;
	    padding-right: 10px;
	}


	.three-up-right-row2  {
	    margin-top: 30px;
	    padding-left: 0px;
	    padding-right: 10px;
	    margin-left: 10px;
	}
	
	
}



/*************************************************************************************************************
VIDEO
*************************************************************************************************************/
.balm-caption {
	margin-bottom:160px;
}




@media (max-width: 414px) { 
	.balm-caption {
		margin-bottom: 70px;
	}
	.site {
		margin-bottom:70px;
	}
}


.balm video {
    width: 100%;
    height: auto;
}

.xray video {
    width: 100%;
    height: auto;
}

.side-vid video {
    width: 100%;
    height: auto;
}


.wide-vid video {
    width: 100%;
    height: auto;
}

.site {
	margin-bottom:140px;
}

.site video {
    width: 100%;
    height: auto;
}





/*************************************************************************************************************
FULL SCREEN IMAGES
*************************************************************************************************************/
.fullBGImage img {
		 border-radius: 0px!important;
}


@media (max-width: 1024px) {
	.bgimg2 {
		min-height:90%!important;
	}
}
