

/*************************************************************************************************************
SOCIAL POST
*************************************************************************************************************/

.social {
	padding-bottom: 200px;
}

@media (max-width: 500px) { 
	.social {
		padding-bottom: 90px;
	}		
}




/*************************************************************************************************************
FULL SCREEN IMAGES
*************************************************************************************************************/
.fullBGImage2 {
	display: table;
		margin-top:30px;
}

@media (max-width: 1024px) {
	.fullBGImage2 {
		margin-top:60px;
	}
}

@media (max-width: 500px) { 
	.fullBGImage2 {
		margin-top:80px;
	}
	
}

