
.top-rounded {
		  border-radius: 6px 6px 0px 0px;
}


.bottom-rounded {
		  border-radius: 0px 0px 6px 6px;
}

.all-rounded {
		border-radius:14px;
}


/*************************************************************************************************************
HALF
*************************************************************************************************************/



.fifty-fifty-LEFT {
	padding-right:40px;
	padding-left:0px;
	margin-right:0px;
}

.fifty-fifty-RIGHT {
	padding-left:40px;
	padding-right:0px;
	margin-left:0px;
}

@media (max-width: 600px) { 
.fifty-fifty-LEFT {
	padding-right:0px;
	padding-left:0px;
	margin-bottom:70px;
}

.fifty-fifty-RIGHT {
	padding-left:0px;
	padding-right:0px;
}
}









/*************************************************************************************************************
VIDEO
*************************************************************************************************************/
.site video {
    width: 100%;
    height: auto;
}






@media (max-width: 1280px) {


}



@media (max-width: 1000px) { 

}

@media (max-width: 768px) {

}

@media (max-width: 600px) {

}


@media (max-width: 500px) {
	
}

@media (max-width: 414px) {
	

}


@media (max-width: 375px) {

	
}




