/*Global*/

html {
	height:100%;
}

body {
	height:100%;
	background-color:#ffd340;
}

.dead p {
	display:none;
}

/*
p {
	font-family:'Times Now-Light';
	font-size:30px;
	line-height:30px;
	color:#000;
	letter-spacing:0px;
	text-align:center;
	-webkit-text-stroke: 1.5px black;	
	transform:scale(0.7,1); 
	-webkit-transform:scale(0.7,1); 
	-moz-transform:scale(0.7,1); 
	-ms-transform:scale(0.7,1); 
	-o-transform:scale(0.7,1); 
}
*/

/*Face & Eyes*/
.move-area {/*normally use body*/
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  max-height:100%;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.eyes {
	padding: 142px 0px 0px 75px;
	position: relative;
	width: 240px;
}

.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 31px;
  width: 31px;
  border:4px solid #000;
  margin-right:47px;
}

.eye:after { /*pupil*/
  position: absolute;
  bottom: 6px;
  right: -1px;
  width: 24px;
  height: 19px;
  background: #000;
  border-radius: 50%;
  content: " ";
}


.face-image {
	position:relative;
	 background: url("img/scotty_532.png") no-repeat top left;
	 background-size:contain;
	 height:266px;
	 width:266px;
	 margin: 0 auto;
}

/*Rotating Words*/
.rotate-words {
		position:relative;
		margin-top: -177px;
}

.rotate {
  animation: rotation 15s infinite linear;	
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


/*Header & Links*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}


.header .header_content {
    padding: 0px 20px;
}

.header nav .nav-left {
    float: left;
}

.header nav .nav-right {
    float: right;
}

.header nav a p, .header_bottom nav a p {
 	text-decoration: none;
	font-family:'helvetica_neueregular', sans-serif; 
 	font-size:12px;	
	line-height:12px;
    color: #000;
	transform:scale(1.2,1); 
	-webkit-transform:scale(1.2,1); 
	-moz-transform:scale(1.2,1); 
	-ms-transform:scale(1.2,1); 
	-o-transform:scale(1.2,1); 
	letter-spacing:2px;
    -webkit-text-stroke: 1.5px black;
}


.header_bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.header_bottom .header_content_bottom {
    padding: 0px 25px;
}


.header_bottom nav .nav-left {
    float: left;
}

.header_bottom nav .nav-right {
    float: right;
	margin-right: -4px;
}


.header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
 	background: url("img/logo.svg") no-repeat top left;
 	background-size:contain;
 	height:145px;
 	width:880px;
	margin-top:10px!important;
}
/*
.header .logo {
	position: fixed;
    top: 1.5rem;
	z-index: 999;
    padding-right: 1.5rem;
}

.header .logo img {
	    width: 100%;
	    height: auto;
}
*/





/*SIGN UP FORM*/

.form {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-inner {


}





.kl-private-reset-css-Xuajs1.kl-private-quill-wrapper-Lkqws1 *:not(em):not(strong):not(u):not(br) {
	letter-spacing:2px!important;	
}

.kzkVSS.kzkVSS.kzkVSS.kzkVSS.kzkVSS.kzkVSS .ql-container p {
 	text-decoration: none;
	text-transform:uppercase!important;
	font-family:'helvetica_neueregular', sans-serif!important;	 
 	font-size:12px!important;	
	line-height:12px;
    color: #000!important;
	transform:scale(1.2,1); 
	-webkit-transform:scale(1.2,1); 
	-moz-transform:scale(1.2,1); 
	-ms-transform:scale(1.2,1); 
	-o-transform:scale(1.2,1); 
	margin-top:10px;
	width: 240px;
	text-align: center !important;
	overflow: hidden !important;
	margin: 0 auto;
}



.klaviyo-form-VrTaTq {
	margin-top:-10px;
}


.hEMewN.hEMewN, .fptOlf.fptOlf {
	padding: 0px 0px !important;
}

.etaOCU.etaOCU.etaOCU.etaOCU.etaOCU.etaOCU, input::placeholder {
	font-family:'Times Now-Light'!important;
	height:110px!important;
	text-align: center !important;
	background-color: rgb(255,255,255,0) !important;
	font-size: 100px !important;
	border: 0px solid #ffd340!important;
	color:#000!important;
	transform:scale(0.8,1); 
	-webkit-transform:scale(0.8,1); 
	-moz-transform:scale(0.8,1); 
	-ms-transform:scale(0.8,1); 
	-o-transform:scale(0.8,1);
	-webkit-text-stroke: 3px black;	 
    padding: 0!important;
}

.etaOCU.etaOCU.etaOCU.etaOCU.etaOCU.etaOCU:focus {
	box-shadow: rgb(0 0 0) 0px 0px 0px!important;
}

.etaOCU.etaOCU.etaOCU.etaOCU.etaOCU.etaOCU:focus::placeholder {
	color:#CDCDC8!important;
  	-webkit-text-stroke: 3px #CDCDC8;	 
}

.jEnZGi.jEnZGi.jEnZGi.jEnZGi.jEnZGi.jEnZGi {
	font-family:'Times Now-Light'!important;
	height:110px!important;
	text-align: center !important;
	background-color: rgb(255,255,255,0) !important;
	font-size: 100px !important;
	border: 0px solid #ffd340!important;
    border-bottom: 1px solid rgb(0,0,0)!important;
	transform:scale(0.8,1); 
	-webkit-transform:scale(0.8,1); 
	-moz-transform:scale(0.8,1); 
	-ms-transform:scale(0.8,1); 
	-o-transform:scale(0.8,1); 
	-webkit-text-stroke: 3px black;	 
	padding: 0!important;
}



.jEnZGi.jEnZGi.jEnZGi.jEnZGi.jEnZGi.jEnZGi:focus {
	box-shadow: rgb(0 0 0) 0px 0px 0px!important;
}

.jEnZGi.jEnZGi.jEnZGi.jEnZGi.jEnZGi.jEnZGi:focus::placeholder {
	color:#CDCDC8!important;
  	-webkit-text-stroke: 3px #CDCDC8;	 
}

.fPRXvs.fPRXvs.fPRXvs.fPRXvs.fPRXvs.fPRXvs {
	background: url("img/arrow.svg") no-repeat top left !important;
    height: 6px;
    width: 50px;
	    font-size: 0px!important;
	text-align: center;
}

.lnviXl.lnviXl {
	margin: 0 auto;
}


/*Thank you Message*/

.kzkVSS.kzkVSS.kzkVSS.kzkVSS.kzkVSS.kzkVSS .ql-editor {
	width:320px!important;
}

.kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1 .ql-editor span {
 	text-decoration: none;
	text-transform:uppercase!important;
	font-family:'helvetica_neueregular', sans-serif; 
 	font-size:12px!important;	
	line-height:18px;
    color: #000;
	transform:scale(1.2,1); 
	-webkit-transform:scale(1.2,1); 
	-moz-transform:scale(1.2,1); 
	-ms-transform:scale(1.2,1); 
	-o-transform:scale(1.2,1); 
	letter-spacing:2px!important;
    -webkit-text-stroke: 1.5px black;	
}


/*Required*/
.ioEQra.ioEQra {
	left:120px!important;
	width: 150px;
	top:2px!important;
}

/*Offline*/
.kdmtMJ.kdmtMJ {
	background: rgb(255, 255, 255, 0)!important;
	    height: 30px;
}

/*Loader*/ 
.cYkHUu.cYkHUu.cYkHUu.cYkHUu.cYkHUu.cYkHUu{
		background: rgb(255, 255, 255, 0)!important;
		color: rgb(255, 255, 255, 0)!important;
		font-size:0px!important;
	
		
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none!important;
}




/*About*/ 
body.about {
	background-color:#CACACA;	
		height:100%;
}

.container-about {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.eyes-about {
	padding: 0px 0px 0px 125px;
	position: relative;
	width: 1550px;
}

.eye-about {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 262px;
    width: 262px;
    border: 30px solid #FFD340;
    margin-right: 447px;
}

.eye-about:after { /*pupil*/
  position: absolute;
  bottom: 60px;
  right: 0px;
  width: 210px;
  height: 170px;
  background: #FFD340;
  border-radius: 50%;
  content: " ";
}


.face-image-about {
	position:relative;
	 background: url("img/scotty_1226.svg") no-repeat top left;
	 background-size:contain;
	 height:667px;
	 width:1226px;
	 margin: 0 auto;
}


.about-copy {
	position:absolute;
	z-index:11;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 100%;
}

.about-copy p {
	font-family:'Times Now-Light';
	font-size:30px;
	line-height:30px;
	color:#000;
	letter-spacing:0px;
	text-align:center;
	-webkit-text-stroke: 1.5px black;	
	transform:scale(0.7,1); 
	-webkit-transform:scale(0.7,1); 
	-moz-transform:scale(0.7,1); 
	-ms-transform:scale(0.7,1); 
	-o-transform:scale(0.7,1); 
}

.about-copy p.about-sans {
 	text-decoration: none;
	text-transform:uppercase;
	font-family:'helvetica_neueregular', sans-serif; 
 	font-size:12px;	
	line-height:12px;
    color: #000;
	transform:scale(1.2,1); 
	-webkit-transform:scale(1.2,1); 
	-moz-transform:scale(1.2,1); 
	-ms-transform:scale(1.2,1); 
	-o-transform:scale(1.2,1); 
	letter-spacing:2px;
    -webkit-text-stroke: 1.5px black;
}