
.top-rounded {
		  border-radius: 6px 6px 0px 0px;
}


.bottom-rounded {
		  border-radius: 0px 0px 6px 6px;
}

.all-rounded {
		border-radius:6px;
}



.center {
	text-align:center;
}




/*************************************************************************************************************
SITE
*************************************************************************************************************/


.site {
	background-color:#000;
	padding-bottom: 200px;
}


.site video {
    width: 100%;
    height: auto;
}


/*************************************************************************************************************
SITE
*************************************************************************************************************/


.yellow {
	background-color:#fbef56;
	padding-bottom: 200px;
	padding-top:100px;
}






/*************************************************************************************************************
RESPSONSIVE
*************************************************************************************************************/


@media (max-width: 500px) {
	.site {
		padding-top:0px;
		padding-bottom: 90px;
	}	

	
}

@media (max-width: 414px) {
	

}


@media (max-width: 375px) {



	
}

