.ui-page-active { outline: none; }

.home-mob {
	margin: 0px 20px;
}

/*************************************************************************************************************
ROUNDED EDGES
*************************************************************************************************************/



.mega-rounded {
	border-radius: 50px;
}






/*************************************************************************************************************
FULL SCREEN IMAGES
*************************************************************************************************************/
.fullBGImage img {
		 border-radius: 0px!important;
}

