

.top-rounded {
		  border-radius: 40px 40px 0px 0px;
}


.bottom-rounded {
		  border-radius: 0px 0px 40px 40px;
}

.all-rounded {
		border-radius:40px;
}

.all-rounded-small {
		border-radius:10px;
}

.two-up-left-row1 {
    padding-right: 20px;
}

.two-up-right-row1 {
    padding-left: 20px;
}

.center {
	text-align:center;
}

.carousel-mod {
	margin-bottom:180px;
}

@media (max-width: 500px) { 
	.carousel-mod {
		margin-bottom:80px;
	}
}

.nik-timeless {
	z-index:99;	
	
}

.nik-square2 {
	padding-left:40px;
	padding-right:40px;
}

.nik-square {
	padding:40px;
}
.nik-cubes {
	margin-top:-40px;
	z-index:0;
}

.nik-caption {
    display: flex;
     height: 100%;
}

.nik-caption-inner {
    display: inline-block;
     align-self: flex-end;
	 margin-bottom:20px;
	 padding-right:70px;
}

/*************************************************************************************************************
VIDEO HERO
*************************************************************************************************************/

.vid-hero {
    width:100%;
    height:100vh;
    overflow: hidden;
	z-index: 1;
	
}

.vid-hero video {
      /*object-fit: contain;*/
/*       object-fit: fill; */
      object-fit: cover;
      width:100%;
      height:100%;
	  
}

@media (max-width: 500px) { 
	.vid-hero {
	    width:100%;
	    height:70vh;
	    overflow: hidden;
	}
}

@media (max-width: 375px) { 
	.vid-hero{
	    width:100%;
	    height:55vh;
	    overflow: hidden;
	}

}

#topVideo1 {
	display:none;
} 



.videoFULL {
    margin-bottom: 150px;
}

.videoFULL2 {
    margin-bottom: 300px;
}
.videoFULL3 {
    margin-bottom: 80px;
}
.videoFULL4 {
    margin-bottom: 40px;
}
.videoFULL5 {
    margin-top: 40px;
}

.videoFULL6 {
    margin-bottom: 40px;
}



/*************************************************************************************************************
SITE
*************************************************************************************************************/



.site {
	background-color:#000;
	padding-bottom: 200px;
}

.site2 {
	background-color:#000;
	padding-bottom: 0px;
}


.site video, .wide-vid video, .site2 video {
    width: 100%;
    height: auto;
	margin-top: -10px;
}

.white-bg {
	background-color:#fff;
	padding-bottom: 200px;
}


.white-bg  video {
    width: 100%;
    height: auto;
}


/*************************************************************************************************************
YELLOW
*************************************************************************************************************/
.mute-button button {
	background-color:#FAEC23;
	color:#000;
	outline: none;
	border:none;
	width:240px;
	font-size:42px;
	letter-spacing:-0.25px!important;
	height:58px;
	padding: 0px 0px 3px 0px;
	border-radius:36px;
	line-height:42px;
	text-align:center;
	display: inline-block;
}

.mute-button button:active {
  background-color: #7CBAFF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.mute-button {
	right: 20px;
	bottom:20px;
	position:absolute;
	z-index:999;
}

@media (max-width: 1280px) {
	
	.mute-button{
	   bottom:3%;
	}

}

@media (max-width: 1000px) {
	
	.mute-button{
	  bottom:3%;
	}

}

@media (max-width: 768px) { 
	.mute-button{
	    bottom:3%;
	}
	
	.nik-caption {
		display:inline-block;
	}
	
	.nik-caption-inner{
		margin-bottom:40px;
	}
}

@media (max-width: 500px) { 
	.mute-button{
	   bottom:32%;
	}
	
	.mute-button button {
		color:#000;
		outline: none;
		border:none;
		width:180px;
		font-size:32px;
		letter-spacing:-0.25px!important;
		height:50px;
		padding: 0px 0px 3px 0px;
		border-radius:36px;
		line-height:32px;
		text-align:center;
		display: inline-block;
	}
}

@media (max-width: 414px) { 
	.mute-button{
	   bottom:32%;
	}
	
	.videoFULL {
	    margin-bottom: 50px;
	}

	.videoFULL2 {
	    margin-bottom: 50px;
	}
	.videoFULL3 {
	    margin-bottom: 50px;
	}
	.videoFULL4 {
	    margin-bottom: 40px;
	
	}
	.videoFULL5 {
	    margin-top: 40px;
	}
	.videoFULL6 {
	    margin-bottom: 10px;
		margin-top:20px;
	}
}


@media (max-width: 393px) { 
	.mute-button{
	   bottom:23%;
	}
}




@media (max-width: 375px) { 
	.mute-button button {
		color:#000;
		outline: none;
		border:none;
		width:150px;
		font-size:26px;
		letter-spacing:-0.25px!important;
		height:40px;
		padding: 0px 0px 3px 0px;
		border-radius:36px;
		line-height:26px;
		text-align:center;
		display: inline-block;
	}
	
	.mute-button{
	     bottom:33%;
	}
}

@media only screen and (device-width: 360px) and (device-height: 740px) { 
	.mute-button {
	    bottom:46%;
	}
}

/* iPhone678 */
@media only screen and (device-width: 375px) and (device-height: 667px) { 
	.mute-button {
	    bottom:47%;
	}
}



@media (max-width: 320px) { 
	
	.mute-button button {
		background-color:#4BE99A;
		color:#000;
		outline: none;
		border:none;
		width:120px;
		font-size:20px;
		letter-spacing:-0.25px!important;
		height:30px;
		padding: 0px 0px 3px 0px;
		border-radius:36px;
		line-height:20px;
		text-align:center;
		display: inline-block;
	}
	
	.mute-button{
	    bottom:35%;
	}
}


.yellow {
	background-color:#fbef56;
	padding-bottom: 200px;
	padding-top:100px;
}







/*************************************************************************************************************
RESPSONSIVE
*************************************************************************************************************/


@media (max-width: 650px) {
	
	.links-three {
		margin-top:-15px;
		
	}
	
	.links-four {
		margin-top:-35px;
	}
	
	



	
	.two-up-left-row1 {
		padding-right:0px;
		margin-bottom:100px;
	}
	.two-up-right-row1 {
		padding-left:0px;
	}
	
	.fifty-fifty-LEFT {
		padding-right:0px;
		padding-left:0px;
		margin-bottom:70px;
	}

	.fifty-fifty-RIGHT {
		padding-left:0px;
		padding-right:0px;
	}	
}

@media (max-width: 500px) {
	.site {
		padding-top:0px;
		padding-bottom: 90px;
	}	
	
	

	.top-rounded {
			  border-radius: 20px 20px 0px 0px;
	}


	.bottom-rounded {
			  border-radius: 0px 0px 20px 20px;
	}

	.all-rounded {
			border-radius:20px;
	}
	
	.p-white {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0px;
	}
	
	.nik-caption {
		margin-top:40px;
	}
	
	.blocks {
		margin-bottom:30px;
	}
	
	.nik-color {
		margin-top:40px;
		margin-bottom:20px;
	}
	
	.type-words {
		margin-bottom:40px;
	}
	
	.nik-square {
		padding: 10px;
	}
	.nik-square2 {
		padding: 0px;
	}
	.project-top-240 {
		padding-top:100px;
	}
	
	.website-text {
		margin-top:20px;
	}
	
	.project-top-40-bottom-140 {
		padding-top:0;
	}
		
}

@media (max-width: 414px) {
}


@media (max-width: 375px) {
}



